html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
==============
Navbar
==============
*/

.container {
  /*centering a block*/
  width: 96%;
  margin: auto;
  text-align: center;
}

.backdrop {
  backdrop-filter: blur(100rem);
}

nav {
  margin-bottom: 2rem;
}

/*.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}*/
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  height: 3.5rem;
  justify-content: flex-start;
}

.nav-toggle {
  font-size: 3.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.tabs {
  display: none;
}
.mob_tabs {
  background: #fff;
  text-align: left;
  padding: 5rem;
  position: fixed;
  right: 0%;
  top: 0%;
  z-index: 1;
  color: black;
  font-size: 1.5rem;
  height: 100%;
}

.cross {
  font-size: 3rem;
  background: none;
  position: absolute;
  right: 2%;
  top: 1%;
  border: none;
  margin: 1.5rem 0;
}

/*.flex_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/
.hero_1 {
  height: 25rem;
  width: 95%;
  margin-bottom: 1rem;
}
/*.flex_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}*/
.flex_2 h1 {
  font-size: 4.5rem;
  font-weight: 900;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.25;
  margin: 0;
  margin-left: 1rem;
}

.flex_2 p {
  font-size: 1.5rem;
  width: 95%;
  text-align: left;
  line-height: 2;
  color: #888a8e;
  font-weight: 500;
  margin-left: 1rem;
}

.btn {
  width: 18rem;
  height: 4rem;
  margin: 2rem 0 3rem 0rem;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.item_2 {
  background-color: black;
  color: #fff;
  height: 100%;
  width: 95%;
  margin: 0 0 5rem 1rem;
}
.item_2 h4 {
  margin: 2rem 2rem 0 2rem;
  font-size: 4rem;
  color: #fd7e14;
  text-align: left;
}

h6 {
  margin: 2rem 2rem 0 2rem;
  font-weight: bold;
  font-size: 2rem;
  width: 100%;
  text-align: left;
}

.content {
  margin: 1rem 2rem 2rem 2rem;
  font-size: 1.5rem;
  color: #868e96;
  line-height: 3rem;
  text-align: justify;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #495057;
  margin: 2rem;
  padding: 0;
}

.flex_3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin: 0 0 5rem 1rem;
}

.flex_4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.pics {
  width: 10rem;
  height: 12rem;
}

.info {
  width: 60%;
}

.info h1,
.info h3 {
  line-height: 0;
  text-align: left;
}

.info h1 {
  color: #ced4da;
  font-size: 3rem;
  line-height: 0.5;
}
.info h3 {
  font-size: 1.5rem;
  line-height: 1;
}
.info p {
  font-size: 1.5rem;
  color: #888a8e;
  font-weight: 500;
  line-height: 0;
  line-height: 1.5;
  text-align: justify;
}

@media screen and (min-width: 800px) {
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .nav-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  .nav-center:first-child {
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    height: 4rem;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    font-size: 1.5rem;
  }

  .cross {
    display: none;
  }

  .flex_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .flex_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }
  .flex_2 h1 {
    font-size: 4rem;
    width: 50%;
    margin-left: 2rem;
  }

  .flex_2 p {
    font-size: 1rem;
    width: 45%;
  }

  .btn {
    width: 12rem;
    height: 2.5rem;
    margin-left: 0;
    padding: 0.5rem;
    letter-spacing: 1px;
  }
  .item_2 {
    width: 100%;
    margin: 0 0 2rem 1rem;
  }
  .item_2 h4 {
    font-size: 3.5rem;
  }

  h6 {
    font-size: 1.5rem;
  }

  .content {
    font-size: 1rem;
    line-height: 2rem;
    word-spacing: normal;
  }

  .flex_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
  }

  .info {
    width: 53%;
  }

  .info p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .nav-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
  }

  .nav-center:first-child {
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .logo {
    height: 4rem;
  }

  .tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    font-size: 1.5rem;
  }

  .cross {
    display: none;
  }

  .flex_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .flex_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
  }
  .flex_2 h1 {
    font-size: 4rem;
    width: 50%;
    margin-left: 2rem;
  }

  .flex_2 p {
    font-size: 1rem;
    margin-left: 0;
    width: 45%;
  }

  .btn {
    margin-left: 0;
  }
  .item_2 {
    width: 100%;
    margin: 0 0 2rem 1rem;
  }

  h6 {
    font-size: 2rem;
  }

  .content {
    font-size: 1.5rem;
    line-height: 3rem;
    word-spacing: normal;
  }

  .flex_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
  }

  .info h1 {
    line-height: 0;
  }

  .info p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1285px) {
  .nav-center:first-child {
    justify-content: space-between;
  }

  .flex_2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 9rem;
  }
  .flex_2 h1 {
    font-size: 6rem;
    width: 40%;
    margin-left: 2rem;
  }

  .flex_2 p {
    font-size: 1.5rem;
    width: 40%;
  }

  .btn {
    width: 18rem;
    height: 4rem;
    margin: 7rem;
    margin-left: 0;
    padding: 1rem;
    letter-spacing: 2px;
  }
  .item_2 {
    height: 100%;
    width: 65%;
  }

  .flex_3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 2rem;
    width: 100%;
  }

  .flex_3:first-child {
    justify-content: flex-start;
  }

  .flex_4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
  }
  .info h1 {
    font-size: 3rem;
    line-height: 0.5;
  }
  .info h3 {
    font-size: 1.5rem;
    line-height: 1;
  }
  .info p {
    font-size: 1.5rem;
    color: #888a8e;
    font-weight: 500;
    line-height: 0;
    line-height: 1.5;
    text-align: justify;
    word-spacing: 0;
  }
}
